.student-container {
  width: 95%;
  margin: 0 auto;
}

.student-welcome {
  text-align: center;
  margin: 25px 0 15px;
}

.student-search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search {
  margin: 0 1rem;
  border-radius: 4px;
}

.student-country {
  line-height: 20px;
}

.volunteers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.volunteer-container {
  border: 1px solid black;
  margin: 10px 0;
  background-color: #78C0E0;
  border-radius: 10px;
  padding: 10px 15px;
  width: 50%;
  box-shadow: 0 0 5px #444;
  opacity: 0.7;
}

.volunteer-container > h3 {
  font-family: "Montserrat", sans-serif;
}

.volunteer-container > a {
  text-decoration: none;
  color: purple;
  display: block;
  margin: 1em 0;
}

.volunteer-container > a:hover {
  color: rgb(52, 4, 52);
}

.name-line {
  margin: 10px 0;
  border-top-color: #0E0E52;
  border-bottom-color: #9de1ff;
}